.manage-user-container {
    .title{
        font-weight: 600;
        font-size: 20px;
    }

    .users-content {
        .btn-add-new{
            margin: 15px 0;
            svg{
                margin-right: 5px;
            }
        }

        .table-res{
            .table-manage-user{
                display: table;
            }
        }

        .card-res{
            display: none;

            .card-manage-user{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px;
                padding: 10px;

                .div-img{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 150px;
                    border-bottom: 1px dashed gray;

                    img{
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                        border-radius: 5px;
                        padding: 5px;
                    }
                }

                .card-body{
                    padding: 0px;
                    .div-card{
                        padding: 5px;
                        .user-col-width{
                            width: 80px;
                        }
                    }

                    .btn-card{
                        padding: 10px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;
                    }
                
                }
            }
        }
        
    }

   
}

.modal-add-user {
    .label-upload {
        display: flex;
        margin-top: 10px;
        align-items: center;
        gap: 2px;
        padding: 2px 5px;
        border-radius: 5px;
        background-color: #ccc;
        width: fit-content;
        cursor: pointer;

        &:hover{
            background-color: #dcdcdc;
        }
    }
    .img-preview {
        border: 1px dashed #ccc;
        height: 150px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ccc;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    
}


@media (max-width: 992px){
    .manage-user-container{
        .users-content{
            .table-res{
                display: none;
            }
           
            .card-res{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

        }
    }
}